<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773694763281-ocktfspfp99vhd53p05o7rr11afh4qcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773694763281-ocktfspfp99vhd53p05o7rr11afh4qcr</string>
	<key>API_KEY</key>
	<string>AIzaSyBvzZk8g_yOH7mEqqHWVJEBt4TLAGiTKRI</string>
	<key>GCM_SENDER_ID</key>
	<string>773694763281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.week6Camera</string>
	<key>PROJECT_ID</key>
	<string>camera-location-3e8b3</string>
	<key>STORAGE_BUCKET</key>
	<string>camera-location-3e8b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773694763281:ios:66ac10c4a440abbfe59cb0</string>
</dict>
</plist>